.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.label:not(:last-child) {
  margin-right: 40px;
}

.label__container {
  position: relative;
}

.label__indicator {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  background-color: #BDBDBD;
  border-radius: 50%;
}

.custom-checkbox:checked+label .label__indicator {
  background-color: #FFA000;
}

.label__indicator::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 50%;
}

.label__img-wrapper {
  max-width: 220px;
  max-height: 180px;
}

.custom-checkbox:checked+label .label__img-wrapper {
  outline: 4px solid #03A9F4;
  border-radius: 10px;
  box-shadow: 0px 0px 18px -2px rgba(3, 169, 244, 0.66);
}

.label__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.label__title {
  font-size: 20px;
  color: #212121;
  font-weight: lighter;
  text-align: center;
  margin: 20px 0 0 0;
  cursor: pointer;
}