.quiz {
  display: flex;
  max-width: 1040px;
}

.quiz__left-side {
  display: flex;
  justify-content: center;
  width: 70%;
  background: rgba(189, 189, 189, 0.06);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 30px 0;
}

.quiz__header {
  margin: 0;
}

.quiz__right-side {
  width: 30%;
  height: 615px;
  border-radius: 10px;
  overflow: hidden;
  background-image: url(../../images/quizBG.png);
  background-size: cover;
  margin-left: 10px;
  padding: 30px;
}

.flex-row {
  max-width: 485px;
  display: flex;
  justify-content: space-between;
}

.flex-row:not(:last-child) {
  margin-bottom: 30px;
}

.quiz__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.quiz__bullets {
  list-style: none;
  margin: 0;
  padding: 0;
}

.quiz__bullet {
  display: flex;
  align-items: center;
}

.quiz__bullet:not(:last-child) {
  margin-bottom: 15px;
}

.quiz__bullet-text {
  margin: 0;
  font-size: 18px;
  font-weight: lighter;
}


.quiz__bullet-img {
  margin-right: 12px;
}

.quiz__right-title {
  margin: 0;
  text-align: center;
  font-size: 28px;
}

.quiz__buttons {
  display: flex;
  align-items: center;
}

.quiz__btn {
  border: unset;
  background-color: #03A9F4;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.quiz__btn:hover {
  opacity: 0.8;
}

.quiz__btn:not(:last-child) {
  margin-right: 13px;
}

.quiz__btn-img {
  margin: 14px;
  width: 23px;
  height: 23px;
}

.quiz__btn-text {
  color: white;
  font-weight: 500;
  font-size: 18px;
  margin: 15px;
}